{% extends 'index.html' %}

{% load static %}


{% block css_files %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            
            <div class="col-9">
                <h1 class="h3">Kullancı Adı: {{ user.username }}</h1><br>
                <p>
                    Adı: {{ user.first_name }}<br><br>
                    Soyadı: {{ user.last_name }}<br><br>
                    Email: {{ user.email }}<br><br>
                    Yönetici Yetkisi: {{ user.is_superuser }}<br><br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %} 
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}