{% extends 'index.html' %}

{% load static %}

{% block page_title %} 
    {{ user.name }}
{% endblock %}

{% block css_files %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-boarded">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th style="width: 150px;">Eylem</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td><a href="{% url 'user_detail' user.id %}" class="btn btn-warning">{{ user.username }}</a></td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a href="{% url 'edit_user' user.id %}" class="btn btn-primary">Düzenle</a>
                                    <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Sil</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block js_files %} 
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}