<nav class="navbar navbar-expand-lg bg-success navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                
                <li class="nav-item">
                    <a href="#" class="nav-link">Anasayfa</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">Ogrenci Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Ogretmen Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Ders Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Ogrenci Listesi</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Kullanıcı Listesi</a>
                    </li>
                    {% endif %}
               
            </ul>

            <ul class="navbar-nav me-0">
                {% if user.is_authenticated%}
                    
                    <li class="nav-item">
                        <a href="#" class="nav-link">Parola Değiştir</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <form action="#" class="d-flex">
            <input type="text" class="form-control me-1" name="q" placeholder="Anahtar Kelime">
            <button type="submit" class="btn btn-secondary">Arama</button>
        </form>
    </div>

</nav>